* {
  margin: 0;
}

#panel {
  width: 80vw; /* Width now adjusts based on the viewport width */
  margin: auto;
  height: 80vh; /* Height adjusts based on the viewport height */
  text-align: center; /* Centers the inner form */
  padding: 2vh; /* Padding based on viewport height */
  border: 1px solid #007bff;
  border-radius: 10px;
}

#input-form {
  border: 1px solid blue;
  width: 50vw; /* Adjust width to scale with the viewport */
  height: 50vh; /* Adjust height to scale with the viewport */
  margin: auto;
  margin-top: 5vh; /* Margin-top in viewport units */
  border-radius: 20px;
  padding: 2vh; /* Padding adjusted to scale with the viewport */
}

#container {
  width: 50vw; /* Adjusts based on the viewport width */
  margin: auto;
  padding: 2vh; /* Padding adjusts based on viewport height */
  border: 1px solid #ccc;
}

.header-section {
  margin-bottom: 2vh; /* Margin-bottom in viewport units */
}

.header-section h3 {
  font-size: 2rem;
  text-align: center; /* Centers the heading */
  margin-bottom: 1vh; /* Margin-bottom in viewport units */
}

.header-section a {
  margin-top: 1vh; /* Margin-top in viewport units */
  display: inline-block;
  text-align: center;
}
