<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>{{ category }}</title>
</head>

<body>
    <div class="container mt-4">
        <h3>{{ category }}</h3>
        <div class="row">
            {% for customer in customers %}
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ customer.name }}</h5>
                        <p class="card-text">Email: {{ customer.email }}</p>
                        <p class="card-text">Phone No: {{ customer.phone_no }}</p>
                        <p class="card-text">Address: {{ customer.address }}</p>
                        <p class="card-text">Pin Code: {{ customer.pin_code }}</p>

                    </div>
                </div>
            </div>
            {% else %}
            <p>No customers found matching with your search.</p>
            {% endfor %}
        </div>
        <a href="{{ url_for('professional_dashboard') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>
    </div>
</body>

</html>