<!-- service_details.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css" />
  <!--calling external styles-->
  <!--third party bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <title>Service Details</title>
</head>

<body>
  <h1>Service Details</h1>
  <p><strong>Service ID:</strong> {{ service.id }} <br> <br>
    <strong>Service Name:</strong> {{ service.name }} <br><br>
    <strong>Service Price:</strong> {{ service.base_price }}<br><br>
    <strong>Description:</strong> {{ service.description }}<br><br>
    <strong>Time Required:</strong> {{ service.time_required }} mins <br><br>
  </p>

  <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>
</body>

</html>