<!-- service_details.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css" />
    <!--calling external styles-->
    <!--third party bootstrap-->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <title>Service Details</title>
</head>
<body>
    <h1>Service Details</h1>

    <p><strong>Service ID:</strong> {{ service.id }}</p>
    <p><strong>Service Name:</strong> {{ service.name }}</p>
    <p><strong>Service Price:</strong> {{ service.price }}</p>
    <p><strong>Description:</strong> {{ service.description }}</p>
    <p><strong>Time Required:</strong> {{ service.time_required }} mins</p>

    <!-- Add a link to go back to the admin dashboard through the login route -->
    <a href="{{ url_for('user_login') }}">Back to Dashboard</a>
</body>
</html>
