<!-- service_details.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css" />
  <!--calling external styles-->
  <!--third party bootstrap-->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
  <title>Service Details</title>
  <link rel="stylesheet" href="/static/style.css">
</head>

<body>


  <div id="container">
    <button class="btn btn-secondary" onclick="goBack()"><-Back </button>

        <script>
          function goBack() {
            window.history.back();
          }
        </script>
        <br>
        <div id="panel">
          <h1 style="text-decoration: underline;">Service Details</h1>
          <br>
          <p><strong>Service ID:</strong> {{ service.id }} <br> <br>
            <strong>Service Name:</strong> {{ service.name }} <br><br>
            <strong>Service Price:</strong> {{ service.base_price }}<br><br>
            <strong>Description:</strong> {{ service.description }}<br><br>
            <strong>Time Required:</strong> {{ service.base_time_required }} <br><br>
            <strong>Service Image: </strong><a
              href="{{ url_for('static', filename='service_pics/' + service.service_pic.split('/')[-1]) }}"
              target="_blank">
              View
            </a>
          </p>
          <br><br>
          <a href="{{ url_for('admin_dashboard') }}" class="btn btn-secondary mt-3">Back to Dashboard</a>
        </div>
  </div>
  <!-- Add Font Awesome CSS for icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

  <!-- Footer -->
  <footer class="text-center py-3">
    <div class="container">
      <p>&copy; 2024 A to Z Household Services. All rights reserved.</p>
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/tushar-jalan-2k5/" target="_blank" class="me-3">
          <i class="fab fa-linkedin fa-lg"></i>
        </a>
        <a href="https://github.com/Tusharisme" target="_blank">
          <i class="fab fa-github fa-lg"></i>
        </a>
      </div>
    </div>
  </footer>

</body>

</html>